extends layout

block content
    h1 Blindtest
    script(src="https://apis.google.com/js/api.js")
    script(src="/javascripts/blindtest_client.js")
    p
        h2 Players:
        table#players_tab
            thead
                tr
                    th Pseudo
                    th Score
            tbody
            
        
    block primary

        